doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title tic-tac-toe-js
  body 
    .grid-game
      .grid-game__box
        canvas.grid-game__canvas(id="0") 
      .grid-game__box
        canvas.grid-game__canvas(id="1") 
      .grid-game__box
        canvas.grid-game__canvas(id="2") 
      .grid-game__box
        canvas.grid-game__canvas(id="3") 
      .grid-game__box
        canvas.grid-game__canvas(id="4") 
      .grid-game__box
        canvas.grid-game__canvas(id="5") 
      .grid-game__box
        canvas.grid-game__canvas(id="6") 
      .grid-game__box
        canvas.grid-game__canvas(id="7") 
      .grid-game__box
        canvas.grid-game__canvas(id="8") 
    script(src="https://unpkg.com/brain.js@2.0.0-beta.2/dist/brain-browser.min.js")