doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title tic-tac-toe-js
    link(rel="stylesheet", href="style.scss")
  body 
    .grid
      .grid__box
        canvas.grid__canvas(id="0") 
      .grid__box
        canvas.grid__canvas(id="1") 
      .grid__box
        canvas.grid__canvas(id="2") 
      .grid__box
        canvas.grid__canvas(id="3") 
      .grid__box
        canvas.grid__canvas(id="4") 
      .grid__box
        canvas.grid__canvas(id="5") 
      .grid__box
        canvas.grid__canvas(id="6") 
      .grid__box
        canvas.grid__canvas(id="7") 
      .grid__box
        canvas.grid__canvas(id="8") 
    script(src="main.js") 