body{
  background-color: rgba(0, 0, 0, 0.075);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div{
  margin: 0;
  padding: 0;
}
.grid{
  margin: 15px auto;
  display: grid;
  width: 660px;
  grid-template-columns:repeat(3,220px);
  grid-template-rows:repeat(3,220px) ;
  height: inherit;
  border-top: 5px solid black;
  border-left: 5px solid black;
  &__box{
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }
}
